<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>À propos</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/rules">Règles</a></li>
            <li><a href="language.html">Langue</a></li>

        </ul>
    </nav>
    <div class="container">
        <h1>À propos du Jeu</h1>
        <p>Ce projet est une initiative visant à recréer le célèbre jeu du Hangman sous la forme d'un site web interactif. Développé dans le cadre d'un cursus universitaire, il combine l'utilisation du langage Go pour la logique du jeu et des technologies web standards comme HTML et CSS pour l'interface utilisateur. L'objectif principal est d'offrir une expérience ludique et éducative, tout en explorant les concepts de programmation backend et frontend. Ce projet permet aux utilisateurs de jouer en ligne, tout en découvrant les règles et l'histoire du jeu, à travers une interface attrayante et intuitive. C'est une opportunité d'appliquer des connaissances techniques tout en créant une plateforme amusante et accessible.</p>
    </div>
</body>
</html>