<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hangman Game</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Bienvenue sur le Hangman ! 🪢 </h1>
    <form action="/start" method="post">
        <label>Difficulty:</label>
        <select name="difficulty">
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
        </select>
        <button type="submit">Start Game</button>
    </form>
</body>
</html>
